@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script>
        $(document).ready(function () {

            // загрузка студентов
            getAllStudents();

            // нажимаем на ссылку Изменить
            $("body").on("click", ".btn-get-student", function () {
                let id = $(this).data("studentid");
                getStudent(id);
            });

            //DELETE
            $("body").on("click", ".btn-delete-student", function () {
                if(!confirm("Do you really whant to delete this message?"))
                    return;
                let formData = new FormData();
                formData.append("id", $(this).data("studentid"));
                $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeleteMessage", "Home")',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        alert(response);
                        resetForm();
                        // загрузка студентов
                        getAllStudents();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            // создание строки для таблицы
            let row = function (mes) {
                return "<tr data-rowid='" + mes.Id + "'><td>" + mes.MessageDateTime + "</td>" +
                    "<td>" + mes.Name + "</td> <td>" + mes.MessageContent + "</td>" +                    
                    "<td><a href='javascript: void (0)' data-studentid='" + mes.Id +
                    "' class='btn btn-success btn-get-student'>Edit</a><a href='javascript: void (0)' data-studentid='" + mes.Id + 
                    "' class='btn btn-danger btn-delete-student'>Delete</a></td></tr>";
            };

            // Получение всех студентов
            function getAllStudents() {
                $.ajax({
                    url: '@Url.Action("GetMessageList", "Home")',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        let rows = "";
                        let students = JSON.parse(response);
                        students.reverse();
                        $.each(students, function (index, student) {
                            // добавляем полученные элементы в таблицу
                            rows += row(student);
                        })
                        $("#student-list").html(rows); 
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }
            // GET BY ID
            function getStudent(studentid) {

                let url = '@Url.Action("GetDetailsById", "Home")' + '/' + studentid;
                $.ajax({
                    type: 'GET',
                    url: url,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        var mes = JSON.parse(response);
                        $("#hdn-student-id").val(mes.Id);
                        $("#messageContent").val(mes.MessageContent);                        
                        $("#messageDateTime").val(mes.MessageDateTime);
                        $("#name").val(mes.Name);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            }


            //SEND
            $("#btn-insert-student").on("click", function () {
                let formData = new FormData();
                formData.append("name", $("#name").val());
                formData.append("MessageContent", $("#messageContent").val());

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SendMessage", "Home")',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                       alert(response);
                       resetForm();
                        // загрузка студентов
                       getAllStudents();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            // UPDATE
            $("#btn-update-student").on("click", function () {
                if (!confirm("Do you really whant to update this message?"))
                    return;
                let formData = new FormData();
                formData.append("id", $("#hdn-student-id").val());
                formData.append("MessageContent", $("#messageContent").val());
                //formData.append("MessageDateTime", $("#messageDateTime").val());    
                formData.append("name", $("#name").val());

                $.ajax({
                    type: 'PUT',
                    url: '@Url.Action("UpdateMessage", "Home")',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        alert(response);
                        resetForm();
                        // загрузка студентов
                        getAllStudents();
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });


            function resetForm() {
                $("#hdn-student-id").val("");
                $("#messageContent").val("");
                $("#MessageDateTime").val("");
                $("#name").val("");
            }           
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<div class="text-center">
    <h2 class="display-4"></h2>
    <hr />
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Date and Time</td>
                    <td>Users</td>
                    <td>Messages</td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="student-list">
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form>
            <input type="hidden" id="hdn-student-id" />
            <div class="row g-3">

                <div class="col-sm-6">
                    <label for="surname" class="form-label">Message</label>
                    <input type="text" class="form-control" id="messageContent" placeholder="Enter Your Message" value="" autocomplete="off" required>
                </div>
                <div class="col-sm-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Your Name" value="" autocomplete="off" required>
                </div>

            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-primary" id="btn-insert-student">Send</a>
                        </td>

                        <td>
                            <a href="javascript:void(0)" class="btn btn-info" id="btn-update-student">Update</a>
                        </td>
                     </tr>
                </tbody>

            </table>
        </form>

    </div>
    <br />
</div>
